.page-home {
  .hero {
    background: #43d967;
    background: -webkit-linear-gradient(top left, #43d967, #63d7ce);
    background: -moz-linear-gradient(top left, #43d967, #63d7ce);
    background: linear-gradient(to bottom right, #43d967, #63d7ce);
  }
}
